@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather:ital,wght@0,300;0,400;1,300&family=Oswald:wght@300&family=Poltawski+Nowy&family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poltawski Nowy', serif;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    background-image: url(img/hotelex.jpg);
    background-size:2000px;
    background-position:center;
}
body::after{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    height: 1700px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: .7;
    z-index: -1;
}
.container{
    display:flex;
}
.pic{
    height: 400px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
img{
    height: 400px;
    width:250px;
    border-radius: 3px;
}
.intro{
    height: 50px;
    width: 250px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 125px;
    background: rgba(27, 27, 27, .5);
    color: white;
}
h2{
    margin: 10px;
    font-size: 30px;
}
p{
    margin: 20px;
    font-size:20px;
    visibility: hidden;
    opacity: 0;
}
.pic:hover{
    cursor: pointer;
}
.pic:hover .intro{
    height: 220px;
    bottom: 125px;
    background: rgba(0, 0, 0, 0.637);
}
.pic:hover p{
    opacity: 1;
    visibility: visible;
}
.pic:hover img{
    transform: scale(1.1) rotate(-3deg);
}

section{
    position:absolute;
    height: 100vh;
    width: 100%;
    background: url(./img/hotelex.jpg);
    background-size: cover;
    background-position: center center;
}

#book .form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.651), rgba(17, 13, 4, 0.3));
    width: 350px;
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 60px #000;
    color: aliceblue;
}

h3{
    color:  rgb(252, 197, 46);
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
}

#book .control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: rgb(250, 247, 247);
    border: none;
    margin: 1em 0;
}
.control input[type=radio]{
    accent-color: black;
    
    
}
.control input[type="submit"]{
    background: rgb(252, 197, 46);
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .4;
    transition: opacity .3s ease ;
}
.control input[type="submit"]:hover{
    opacity: 1;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    color: white;
    opacity: .5;
    transition: opacity .3s ease;
}
.link a:hover{
    opacity: 1;
}
footer{
    position: absolute;
    bottom: 0;
    right:50%;
}

.full-page{
    height: 8%;
    width: 100%;
    background-image: url(./img/hotelex.jpg) no-repeat;
    background-position: center;
    background-size:contain;
    position:relative;  
}
h4{
    color: rgb(255, 255, 255);
}
h4 span{
    color: rgb(152, 226, 152);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 10px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 60px;
}
nav ul li a{
    text-decoration:none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    padding: 7px 0;
    
}
nav ul li a:hover{
    color: rgb(219, 210, 124);
    transition: .4s;
}
header{
    position:absolute;
    top: 0;
}
.MenuItems{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 796px;
    padding-right: 30px;
    margin-top: 10px;
}
